EXPO_PUBLIC_API_BASE_URL=http://192.168.88.9:3001
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=927905732381-1r4nlqve9e08dhmsutguospmep7p9da1.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=927905732381-dn4368p04d0gv3h8r5b9to1jkq8ti3r9.apps.googleusercontent.com
EXPO_PUBLIC_ANDROID_PACKAGE_NAME=lesgo.app
EXPO_PUBLIC_ANDROID_DEBUG_SHA1=5E:8F:16:06:2E:A3:CD:2C:4A:0D:54:78:76:BA:A6:F3:8C:AB:F6:25
